.book {
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 8px;
    width: 895px;
    height: 216px;
    margin-bottom: 16px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

.title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 22px;
}

.price {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 22px;
}