.page {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.categories {
    background-color: white;
    border-radius: 8px;
    width: 285px;
    padding: 20px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.mainCategory {
    width: 895px;
}

.category {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    border: none;
}

.activeCategory {
    font-weight: bold;
}